In [107]:
import pandas as pd
import re

# Inport du dataset

In [108]:
df = pd.read_csv('../ressources/babyfoot_dataset.csv', low_memory=False)

# Nettoyage

## Suppression des colonnes inutiles

In [ ]:
df.drop([
        'table_condition',
        'ball_type', 
        'music_playing', 
        'referee', 
        'attendance_count',
        'season', 
        'recorded_by', 
        'rating_raw', 
        'player_age',
        'player_assists',
        'possession_time',
        'mood', 
        'player_comment', 
        'is_substitute', 
        'ping_ms',
        'notes', 
        'duplicate_flag',
        'misc', 
        'created_at'],
    axis=1, inplace=True)

## Nettoyage et formatage de la colonne date

In [ ]:
# Suppression des caractères parasites

def clean_date(date_str):
    if pd.isna(date_str):
        return date_str
    date_str = str(date_str)
    date_str = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)
    date_str = date_str.replace('.', '')
    return date_str


# Conversion des différents formats de date
def convert_date(date_str):
    if pd.isna(date_str):
        return pd.NaT
        
    date_str = str(date_str).strip()
    
    # Liste des formats possibles
    formats = [
        '%b %d %Y',        # Feb 06 2023
        '%d-%m-%Y',        # 24-03-2023
        '%Y-%m-%d',        # 2025-01-13
        '%d %b %y',        # 30 Sep 23
        '%Y/%m/%d',        # 2023/07/04
        '%d/%m/%y',        # 24/06/23
        '%m/%d/%Y',        # 02/18/2024
        '%d %b %Y',        # 20 Mar 2023
    ]
    
    for format in formats:
        try:
            return pd.to_datetime(date_str, format=format)
        except:
            continue
    
    # Si aucun format ne marche, retourner NaT
    return pd.NaT


df['game_date'] = df['game_date'].apply(clean_date)
df['game_date'] = df['game_date'].apply(convert_date)

## Nettoyage de la colonne game_duration

In [ ]:
def convert_in_second(duration):
    
    """Convertit différents formats de durée en secondes (int)"""
    
    if pd.isna(duration):
        return None
    
    duration_str = str(duration).strip()
    
    # Format 1: "6min" ou "6 min"
    if 'min' in duration_str.lower():
        minutes = int(re.search(r'(\d+)', duration_str).group(1))
        return minutes * 60
    
    # Format 2: "00:05:55" (heures:minutes:secondes)
    elif ':' in duration_str:
        parties = duration_str.split(':')
        if len(parties) == 3:  # HH:MM:SS
            heures, minutes, secondes = map(int, parties)
            return heures * 3600 + minutes * 60 + secondes
        elif len(parties) == 2:  # MM:SS
            minutes, secondes = map(int, parties)
            return minutes * 60 + secondes
    
    # Format 3: "12.45" (minutes.secondes)
    elif '.' in duration_str:
        parties = duration_str.split('.')
        if parties[0].isdigit() and parties[1].isdigit():
            minutes = int(parties[0])
            secondes = int(parties[1])
            return minutes * 60 + secondes

    # Si c'est juste un nombre entier
    else:
        return int(float(duration_str))
    
    return None

df['game_duration'] = df['game_duration'].apply(convert_in_second)
df['game_duration'] = df['game_duration'].fillna(0).astype(int)

# Je supprime les durées abbérantes de plus de 20min
too_long = df['game_duration']>1200
df = df[~too_long]

# Nettoyage des colonnes game_id, game_id et player_id pour ne garder qu'un format int pour les rendre compatibles avec les futures données

In [ ]:
df['game_id'] = df['game_id'].str.extract('(\d+)').astype(int)
df['table_id'] = df['table_id'].str.extract('(\d+)').astype(int)
df['player_id'] = df['player_id'].str.extract('(\d+)').astype(int)

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
/var/folders/l2/4bhymbh53d3_vrys9v8mb6hw0000gn/T/ipykernel_74900/2683099155.py:4: SyntaxWarning: invalid escape sequence '\d'
  df['game_id'] = df['game_id'].str.extract('(\d+)').astype(int)
/var/folders/l2/4bhymbh53d3_vrys9v8mb6hw0000gn/T/ipykernel_74900/2683099155.py:5: SyntaxWarning: invalid escape sequence '\d'
  df['table_id'] = df['table_id'].str.extract('(\d+)').astype(int)
/var/folders/l2/4bhymbh53d3_vrys9v8mb6hw0000gn/T/ipykernel_74900/2683099155.py:6: SyntaxWarning: invalid escape sequence '\d'
  df['player_id'] = df['player_id'].str.extract('(\d+)').astype(int)

## Nettoyage des colonnes player_goals, player_own_goals

In [ ]:
mapping_nombres = {
    'one': 1,
    'two': 2,
    'three': 3,
    'ten': 10
}

df['player_goals'] = df['player_goals'].replace(mapping_nombres)
df['player_goals'] = pd.to_numeric(df['player_goals'], errors='coerce')
df['player_own_goals'] = pd.to_numeric(df['player_own_goals'], errors='coerce')

df = df.dropna(subset=['player_goals', 'player_own_goals'])

df['player_goals'] = df['player_goals'].astype(int)
df['player_own_goals'] = df['player_own_goals'].astype(int)

## Nettoyage des colonnes de score

In [ ]:
# 1. Sélectionner les lignes concernées
lignes_a_traiter = df['final_score_blue'].isna()

# 2. Séparer le score en deux colonnes
scores_separes = df.loc[lignes_a_traiter, 'final_score_red'].str.split(r'\s*-\s*', expand=True, regex=True)

# 3. Assigner aux bonnes colonnes (et convertir en int)
df.loc[lignes_a_traiter, 'final_score_blue'] = scores_separes[0]
df.loc[lignes_a_traiter, 'final_score_red'] = scores_separes[1]
df['final_score_blue'] = pd.to_numeric(df['final_score_blue'], errors='coerce').astype('Int64')
df['final_score_red'] = pd.to_numeric(df['final_score_red'], errors='coerce').astype('Int64')

# 4. Supprimer les lignes avec des valeurs nulles
df = df.dropna(subset=['final_score_blue', 'final_score_red'])

## Nettoyage de la colonne winner

In [ ]:
# 1. Mettre en majuscule et nettoyer les espaces
df['winner'] = df['winner'].str.strip().str.upper()

# 2. Créer un mapping pour uniformiser
mapping = {
    'BLUE': 'BLUE',
    'BLEU': 'BLUE',
    'B': 'BLUE',
    'RED': 'RED',
    'R': 'RED',
    'TIE': 'TIE',
    'DRAW': 'TIE',
    'ÉGALITÉ': 'TIE'
}

# 3. Appliquer le mapping
df['winner'] = df['winner'].map(mapping)

# 4. Supprimer les valeurs invalides (pas 'BLUE', 'RED', 'TIE', ou NaN)

valeurs_valides = ['BLUE', 'RED', 'TIE']

lignes_invalides = ~(df['winner'].isin(valeurs_valides) | df['winner'].isna())

if lignes_invalides.sum() > 0:
    df = df[~lignes_invalides].copy()


# 5. Attribuer un gagnant si le winner est NaN

def determiner_gagnant(row):
    """
    Compare les scores et retourne le gagnant
    """
    blue = row['final_score_blue']
    red = row['final_score_red']
    
    # Si un des scores est NaN, on ne peut pas déterminer
    if pd.isna(blue) or pd.isna(red):
        return None
    
    if blue > red:
        return 'BLUE'
    elif red > blue:
        return 'RED'
    else:
        return 'TIE'


# Identifier les lignes avec NaN dans winner
lignes_nan = df['winner'].isna()
df.loc[lignes_nan, 'winner'] = df.loc[lignes_nan].apply(determiner_gagnant, axis=1)


# 6. Vérifier la cohérence des winner déjà existants
def verifier_coherence(df):
    """
    Vérifie que le winner correspond aux scores
    """
    def est_coherent(row):
        if pd.isna(row['winner']) or pd.isna(row['final_score_blue']) or pd.isna(row['final_score_red']):
            return True  # On ne peut pas vérifier
        
        blue = row['final_score_blue']
        red = row['final_score_red']
        winner = row['winner']
        
        if blue > red and winner == 'BLUE':
            return True
        elif red > blue and winner == 'RED':
            return True
        elif blue == red and winner == 'TIE':
            return True
        else:
            return False
    
    coherence = df.apply(est_coherent, axis=1)
    
    return df[coherence].copy()


df = verifier_coherence(df)

## Nettoyage de la colonne player_role

In [ ]:
# On dénifit 3 valeurs possibles ATK, DEF et FULL pour les 1v1

df['player_role'] = df['player_role'].str.strip().str.upper()

mapping = {
    'ATTACK': 'ATK',
    'ATTCK': 'ATK', 
    'ATK': 'ATK',
    'ATACK': 'ATK',

    'DEFENSE': 'DEF',
    'DEFENCE': 'DEF', 
    'DEF': 'DEF',
}

df['player_role'] = df['player_role'].map(mapping)

# Suppression des lignes où le rôle n'est pas défini
df = df[df['player_role'].notna()]

## Nettoyage de team_color

In [ ]:
df['team_color'] = df['team_color'].str.strip().str.upper()

mapping = {
    'RED': 'RED',
    'R': 'RED',
    'ROUGE': 'RED',
    '🔴': 'RED',
    'RED�': 'RED',  # Caractère corrompu
    
    'BLUE': 'BLUE',
    'BLEU': 'BLUE',
    'B': 'BLUE',
    '🔵': 'BLUE',
    'BLUE�': 'BLUE'  # Caractère corrompu
}

df['team_color'] = df['team_color'].map(mapping)

# Suppression des valeurs NaN
df = df.dropna(subset=['team_color'])

## Nettoyage et mise en forme des noms de joueurs

In [ ]:
df[['name', 'surname']] = df['player_canonical_name'].str.split(' ', expand=True)
df['surname'] = df['surname'].str.upper()
df['name'] = df['name'].str.capitalize()
df = df.drop('player_canonical_name', axis=1)

## Renommage des colonnes

In [119]:
nouveau_noms = {
    'game_date': 'date',
    'game_duration': 'duration',
    'final_score_red': 'red_goal',
    'final_score_blue': 'blue_goal',
    'team_color': 'team',
    'player_role': 'role',
    'player_name': 'pseudo',
    'player_id': 'user_id'
}

df = df.rename(columns=nouveau_noms)

# Exports

## Création des différents csv, un par table + renommage des colonnes

In [ ]:
df_user = df[
    [
        'user_id', 
        'name', 
        'surname']
    ].rename(columns={
        'user_id': 'id'
})

df_user_game = df[
    [
        'user_id', 
        'game_id', 
        'role',
        'team']
    ]

df_game = df[
    [
        'game_id', 
        'date', 
        'table_id',
        'duration',
        'red_goal',
        'blue_goal',
        'winner',
        ]
    ].rename(columns={
        'game_id': 'id'
})

df_table = df[
    [
        'table_id', 
        'location']
    ].rename(columns={
        'table_id': 'id'
})


# Chaque table devrait en théorie contenir des lignes uniques (id)
df_user.drop_duplicates(subset=['id'], keep='first')
df_user_game.drop_duplicates(subset=['user_id', 'game_id'], keep='first')
df_game.drop_duplicates(subset=['id'], keep='first')
df_table.drop_duplicates(subset=['id'], keep='first')


# Exporter directement
df_user.to_csv('user.csv', index=False)
df_user_game.to_csv('user_game.csv', index=False)
df_game.to_csv('game.csv', index=False)
df_table.to_csv('table.csv', index=False)

## Export du dataset propre

In [ ]:
df.to_csv('dataset_clean.csv', index=False)

## Export d'un dataset avec un seul utilisateur pour simuler un espace client

In [127]:
filtre = df['user_id'] == 1
df_one_user = df[filtre]
df_one_user.to_csv('donnees_utilisateur.csv', index=False)

In [130]:
df_table = df[
    [
        'table_id', 
        'location']
    ].rename(columns={
        'table_id': 'id'
}).reset_index(drop=True)
df_table

       id               location
0       5          Ynov Toulouse
1       7  Cafeteria (1st floor)
2      26               Gym Hall
3      21      Salle Polyvalente
4      26     Campus - Cafeteria
...    ..                    ...
79189  13          Ynov Toulouse
79190   2      Salle Polyvalente
79191   6      Salle Polyvalente
79192   7     Campus - Cafeteria
79193  12               Ynov Tls

[79194 rows x 2 columns]

In [ ]:
df_table.drop_duplicates(su)

       id               location
0       5          Ynov Toulouse
1       7  Cafeteria (1st floor)
2      26               Gym Hall
3      21      Salle Polyvalente
4      26     Campus - Cafeteria
...    ..                    ...
1655   21               Ynov Tls
1724    3               Ynov Tls
1804   14     Campus - Cafeteria
2008   10            Bar Le Foos
44355  15         Student House�

[301 rows x 2 columns]